/*               */
/* html elements */
/*               */
body {
    margin: 1em;
}

h1 span {
    background-color: #dfee8f;
}

table {
    width: unset;
    min-width: unset;
    max-width: unset;
}

td {
    border: 1px solid #696969;
    padding: .2em .5em;
    text-overflow: ellipsis;
    color: #262d0d;
}

td:hover, ul > li:hover {
    background-color: #ecf5e6;
}

td:focus {
    background-color: #dfee8f;
    color: #000000;
}

input {
    padding: .2em .5em;
    border: 0;
    text-overflow: ellipsis;
    color: #262d0d;
}

input:focus {
    background-color: #dfee8f;
    color: #000000;
}

/*    */
/* ID */
/*    */
#fileOutput {
    padding: .5em;
}

#fileName {
    font-weight: bold;
}

.inline {
    display: inline;
}

.smallInput {
    width: 2em;
}
